---
interface Props {
  paper: string;
  paper_href?: string;
  day: string;
  presenter: string;
  presenter_href: string;
  coauthors?: string;
  type: "30 mins." | "60 mins.";
}
const {
  paper, paper_href = "",
  day, 
  presenter, presenter_href = "",
  coauthors = "",
  type = "60 mins."
} = Astro.props;

let datetime = new Date(day);
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const date_string = `${months[datetime.getMonth()]} ${datetime.getDate()}, ${datetime.getFullYear()}`
---

<article class="not-prose py-size-lg">
  <div class="lg:max-w-4xl">
    <div class="flex flex-col items-start">
      <h2 id="episode-5-title" class="mt-2 text-size-1 font-bold text-alice-700">
        {
          paper_href === "" ? 
          <Fragment>{paper}</Fragment> : 
          <a href={paper_href} class="underline decoration-4 text-alice-700">{paper}</a>
        }
      </h2>
      <p class="order-first font-mono text-size-0 text-mine-shaft-500">
        <time class="leading-7" datetime={datetime.toISOString()} >
          {date_string}
        </time>
        <span class="font-semibold text-mine-shaft-700">{`(${type})`}</span>
      </p>
      <p class="mt-1 text-size-0 leading-7 text-mine-shaft-700">
        Presented by {
          presenter_href === "" ? 
          <span class="">{presenter}</span> : 
          <a class="text-alice-500 underline" href={presenter_href}>{presenter}</a>
        }. {
          coauthors != "" && (<Fragment set:html={coauthors}></Fragment>)
        }
      </p>
    </div>
  </div>
</article>

